@{
	ViewData["Title"] = "Denis Kosenko IPS-43";
}

<div class="text-center">
    <h1 class="display-4">Kosenko Denys IPZ-43</h1></br>
    <h2 class="display-6">CP Lab5</h2>
    <p>C# .NET Core MVC Application</a>.</p>
</div>
